@model AssetManagementSystem.Models.BookAsset
@{
    ViewData["Title"] = "SearchBook";

}

<form asp-action="SearchBook">
    @Html.ValidationSummary(true)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div>
        <div class="editor-label">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)

        </div>
        <input type="submit" class="btn btn-primary" value="Search" />
    </fieldset>
</form>
