@model AssetManagementSysteM.Models.BookAsset

@{
    ViewData["Title"] = "UpdateBook";
}

<h1>UpdateBook</h1>

<h4>BookAsset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control "readonly />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublish" class="control-label"></label>
                <input asp-for="DateOfPublish" class="form-control" />
                <span asp-validation-for="DateOfPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

